body{
    background:#222f3e;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
.heading{
    text-align: center;
    color:antiquewhite;
    animation: lights 5s 750ms linear infinite;
}
.container {
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;
    background-color:  rgba(82, 154, 185, 0.89);
    border-radius: 5px;
    font-family: "dancing script", cursive;
    overflow: hidden;
    color: #797d7f;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center;
   
}

.inner {
    position: absolute;
    height :100%;
    width: 80%;
    opacity :1;
    -webkit-transition: 1s;
    transition: 1s;

}

.box {
    position:absolute;
    top:50%;
    left:50%;
    width:80%;
    height:70%;
    -webkit-transform:translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background:#fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgb(0,0,0,0.5);
    font-size: 1.3rem;


}

.number ::before {
    content:"";
    position:absolute;
    top:-130px;
    right:30px;
    width:90px;
    height:200px;
    background:var(--secondary-color);
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
    box-shadow:  0 0 0.7rem rgba(0,0,0,0.5);
}

.number{
    font-family: var(--sans);
    position: absolute;
    margin:0;
    top:15px;
    right:15px;
    color:rgba(255, 255, 255, 0.7);
}

.number img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -25px;
    top:7px;
    cursor:pointer;
    animation : rot 1s linear;
}
.number:hover img{
    animation:rot 1s linear;
}

#tweetMe {
    height: 25px;
    width: 25px;
    padding: 5px;
    transform: rotate(-10deg);
    animation: rotweet 1s linear;
    background-color: #191212;
}

@keyframes rot {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.text {
    padding: 10%;

    padding-bottom: 0%;
}
.start-quote {
    opacity: 0.2;
    font-size: 50px;
}



#quotes {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    opacity: 0.8;
}

.author {
    text-align: right;
    font-size: 12px;
}

.newQ {
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    color: #191212;
}


.button {
    width: 100%;
    height: 10%;
    background-color: rgba(7, 7, 7, 0.89);
    text-align: center;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}